
.analysis-zone{
    position:relative;
    padding-left:10px;
  }
  
  .analysis-title{
    margin:5px 24px;
    padding:0; 

  }

.analysis-games{
  margin-top:5px;
}

.analysis-games ul{
  list-style-type: '♟ ';
  padding:0 10px 10px 20px;
  margin-top:0;
}
.analysis-games ol{
  list-style-type: '♔ ';
  padding:10px 10px 0 20px;
  margin-top:0;
}

.analysis-games ol li{
  cursor:pointer;
}

.analysis-games ul li{
  text-align: justify;
  max-width:340px;
  white-space: nowrap;
  text-overflow:ellipsis;
  cursor:pointer;
}

.analysis-games ul li:hover{
  background-color:#6c7c9c
}

  .analysis-games-title{
    margin:0;
  }

  .analysis-text{
    margin:0;
    padding-top:0; 
  }

  .analysis-moves{
    margin-top:0;
    padding-top:0; 
  }

  .analysis-zone .button.saveOpening{
    position:absolute;
    top:0;
}

.analysis-zone .button.saveOpening::after{
    content:"🖫";
    font-size:18px;
    font-weight:bold;
}

.analysis-zone .button.saveOpening:hover{
    font-weight:bold;
    color:#769656;
}

  
  @media screen and (max-width: 900px) {
    .analysis-title{
        display:none;
    }
    .analysis-moves{
        display:none;
    }
  }

  @media screen and (max-width: 1500px) {
    .analysis-games{
      display:none;
    }
  }
  