
.analysis-zone{
    position:relative;
    padding-left:10px;
  }
  
  .analysis-title{
    margin:5px 24px;
    padding:0; 

  }

  .analysis-text{
    margin:0;
    padding-top:0; 
  }

  .analysis-moves{
    margin-top:0;
    padding-top:0; 
  }

  .analysis-zone .button.saveOpening{
    position:absolute;
    top:0;
}

.analysis-zone .button.saveOpening::after{
    content:"🖫";
    font-size:18px;
    font-weight:bold;
}

.analysis-zone .button.saveOpening:hover{
    font-weight:bold;
    color:#769656;
}

  
  @media screen and (max-width: 900px) {
    .analysis-title{
        display:none;
    }
    .analysis-moves{
        display:none;
    }
  }

  