
.info-zone{
  position:relative;
  padding-left:10px;
  width : 90%;
}

.game-input{
    font-size: 12px;
    line-height: 1.25;
    transition: all .1s;
    margin-top: 0px; 
    margin-bottom: 0px; 
    width:100%;
    height: 307px;
}

.game-info{
  margin-top:0;
  padding-top:0;  
  text-align:right;
}

button{
  min-width:80px;
  display: inline-block;
  padding: 6px 12px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background-color: #3c475f;
  border-color:  #282c34;
}

.info-zone .infosMessage{
  display:block;
  font-size: 14px;
  color: #fff;
}

.info-zone .board-title{
  display:block;
  font-weight: 400;
}