.board-zone{
    position:relative;
    padding-left:10px;
    width : 90%;
    margin-top:30px;
}

.board{
    position:relative;
    width : 66vmin;
    height: 66vmin; 
    overflow:hidden;
}

.square{
    width : 12.5%;
    height: 12.5%;
    font-size:6vmin;
    text-align: center;
    display:inline-block;
    user-select: none;
    margin:0;
    padding:0;
}

.light-square{
    background-color: #EEEED2;
}

.dark-square{
    background-color: #769656;
}

.square-right{
    display:block;
}

.board-title{
    color:whitesmoke;
    text-align:left;

}

.board-zone{
    padding: 0 0 0 20px;
}

.hidden{
    display:none;
}

.cr{
    height:0;
    font-size:1px;
    padding:0;
    line-height: 0;
    margin:0;
}

@media screen and (min-width: 1200px) {
    .square {
      font-size: 6.5vmin;
    }
  }