.game-list li {
    border: solid 1px grey;
    border-radius:10px;
    position:relative;
    padding: 12px 2px 12px 14px;
    margin-top: 7px;
    margin-bottom: 8px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: #fff;
    background: linear-gradient(#ffffff, #e9e9e9);
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align:left;
    width:94%;
}

.games-list-length{
    position:absolute; 
    color:white;
    left:0;
    top:45px;
}

.list-element{
    position:relative;
    width:100%;
}

.list-element:hover{
  height:100px;
}


.list-element-text{
    display:block;
    position:absolute;
    width:70%;
}

.game-list li .button{
    border: solid 1px black;
    float:right;
    vertical-align: top;
    border-radius:6px;
    cursor: pointer;
    background-color: white;
    margin-right:3px;
    margin-left:3px;
}

.game-list li .button.delete{
    padding: 6px 12px;
    border: solid 1px red;
    color: red;
}

.game-list li .button.delete::after{
    content:"❌";
}

.game-list li .button.choose{
    padding: 5px 12px;
    border: solid 1px #769656;
}

.game-list li .button.choose::after{
    content:"✔️";
    font-size:18px;
    font-weight:bold;
}

.game-list li .button:hover{
    background-color: #EEEED2;
    font-weight:bold;
}

.game-list{
    height: calc(66vmin - 56px); 
    width : 66vmin;
    overflow-y:auto;
    overflow-x:hidden;
}