.turns-zone{
   position:relative;
   padding-left:10px;
   width : 98%;
}
.game-turns{
   text-align:left;
   background-color: #404a5e;
   color: white;
   border:1px solid black;
   border-radius:5px;
   height: calc(66vmin - 56px); 
   width : 66vmin;
   overflow-y:scroll;
   overflow-x:hidden;
}
.game-turns ol li:nth-child(odd) {  
    background-color: #6c7c9c;
}
.game-turns ol li:nth-child(even){  
    background-color: #404a5e;
}
.game-turns ol li:nth-child(odd) .turn-current{
   background-color: rgba(255,255,255,0.3);
   color:#000;
   font-weight:bold;
}
.game-turns ol li:nth-child(even) .turn-current{
   background-color: rgba(255,255,255,0.3);
   color:#000;
   font-weight:bold;
}
.game-turns li .turn-w{
   float:left;
  margin-left :20px;
  width:60px;
}
.game-turns li .turn-b
{
   float:left;
   margin-left :80px;
   width:60px;
}
.turns-zone .board-title{
   display:none;
}

.game-turns span{
   cursor:pointer;
}

@media screen and (min-width: 1200px) {
   .game-turns{
      height: calc(66vmin - 76px); 
   }
 }