.game{
    width:100%;
    background-color: #282c34;

}
.game-board{
    margin :0;
    padding:0;
    display:inline-block;

}

.game-info{
    vertical-align:top;
    display:inline-block;   
    margin-top:-10px;
    margin-left:10px;
    position:relative;
    width : 75vmin;
}

@media screen and (min-width: 1200px) {
    .game-info{
        vertical-align:top;
        display:inline-block;   
        margin-top:-10px;
        margin-left:10px;
        position:relative;
        width : 55vmin;
        overflow:hidden;
    }
  }