.login{
    width:100%;
    height:120px;
    position:relative;
    display: flex;
    flex-direction: column;
}

.login .input-field{
    width:90%;
    height:30px;
    position: relative;
    margin-top: 2rem;
}

.login .input-field input {
    padding: 0.8rem;
}

.login input[type='button']{
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: white;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 0.4rem;
}
