
.comment-container .button{
    border: solid 1px black;
    float:right;
    vertical-align: top;
    border-radius:6px;
    cursor: pointer;
    background-color: transparent;
    margin-right:3px;
    margin-left:3px;
}

.comment-container .button.open{
    padding: 5px 12px;
    border: solid 1px #769656;
}

.comment-container .button.open::after{
    content: "write"; /* "🖉"*/
}

.comment-container .button.save{
    padding: 5px 12px;
    border: solid 1px #769656;
}

.comment-container .button.save::after{
    content:"save";/* "✔️" */
}

.comment-container .button:hover{
    background-color: #EEEED2;
    font-weight:bold;
}

